/* * {
	border: 1px solid black;
}*/

body {
	background-color: #fff;
	margin: 0;
}

header {
	color: white;
	background-color: #aee2ce;
	padding: 40px 24px;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-align: center;
}

h2 {
	color: #222;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	text-align: center;
}

h3 {
	color: #222;
	font-family: 'Roboto', serif;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

h4 {
	color: #222;
	font-family: 'Roboto', serif;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	margin: auto;
}

p {
	color: #222;
	font-family: 'Roboto', serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	margin: auto;
}

td {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.menu {
	text-align: center;
}

table {
	width: 100%;
}

th {
	width: 50%;
}

#subheader {
	background-color: #f9c4d8;
	color: white;
}