/* * {
	border: 1px solid black;
}*/

body {
	background-color: #c2f2d0;
	margin: 0;
}

header {
	background-color: #9ad1aa;
	padding: 40px 24px;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-align: center;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	text-align: center;
}

td {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.menu {
	padding: 24px;
	text-align: center;
}

table {
	width: 100%;
}

th {
	width: 50%;
}